---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 - Not found - VBNC">
  <main class="w-full h-full flex flex-col justify-center items-center">
    <h1>404 - Page not found</h1>
  </main>
</Layout>