<div class="flex flex-col xl:flex-row xl:items-center justify-between">
  <ul class="text-xl md:text-2xl flex flex-col xl:flex-row xl:items-center gap-2 md:gap-3 lg:gap-8 h-full">
    <li>
      <a href="/" class="link">Home</a>
    </li>
    <li>
      <a href="/about" class="link">About</a>
    </li>
    <li>
      <a href="/vertigo" class="link">Vertigo</a>
    </li>
    <li>
      <a href="/balance" class="link">Balance</a>
    </li>
    <li>
      <a href="/core" class="link">Core</a>
    </li>
    <li>
      <a href="/contact" class="link">Contact</a>
    </li>
  </ul>
  <a href="/contact" class="border rounded-full bg-white text-vbnc-orange border-vbnc-orange hover:bg-vbnc-orange hover:text-white p-4 px-8 mt-6 md:mt-8 xl:mt-0 text-center md:w-fit">Book a consultation</a>
</div>

<script>
  const pathname = location.pathname

  const links = document.querySelectorAll('.link')

  links.forEach(link => {
    const href = link.getAttribute('href')

    if (href === pathname) {
      // @ts-ignore
      link.style.color = '#EF7206';
    }
  })
</script>